
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,700);

.container {
    position: relative;
    background-color: #2b2e2c;
}

.logo{
    height: 4vh;
    width:4vw;
    margin: 20px;
}


.wallpaper {
    opacity: 80%;
    max-width: 100%;
    margin-bottom: -5px;
    height: 700px;
    width: 100%;

}
.btn {
    display: block;
    position: absolute;
    bottom: 200px;
    left: 45%;
    text-align: center;
    padding: 1em ;
    color: #10c7f5;
    background-color: #111;
    border-radius: 10px;
    border: 2px solid black;
    width: 170px;
    height: 70px;
    font-size: 20px;
    letter-spacing: 0.02sem;
    box-shadow: 3px 3px 2px #fff;
    letter-spacing: 0.2em;

}

.btn:hover {
    background-color: #2b2e2c;
    border: #2b2e2c 2px solid;
}

.text-container {
    
    display: block;
    position: absolute;
    bottom: 0px;
    left: 35%;
    top: 85px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font: 25px;
    color: #111;
    height: 500px;
    width: 460px;
}


h1{
    letter-spacing: 0.11em;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    color: #FF5E62;
    font-weight: 1000;
    background-color: #E4E7EB;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    background: url("https://images.unsplash.com/photo-1593113630400-ea4288922497?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    margin: 0 auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    

}

.nav-item {
    color: #10c7f5;
}

.nav-item:hover {
    color: #10c7f5;
}

.hfplogo {
    width: 100px;
}

.home-content {
    width: 40%;
    background-color: #E4E7EB;
    margin: 15% auto 10% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-content p {
    
    margin: 5% auto 10% 5%;
    font-size: 2rem;
    font-weight: 700;
}

.author {
    padding-left: 60%;
}

@media screen and (max-width:769px) {
    #home {
        background-color: #10c7f5;
        background: url();
    }

    .home-content {
        overflow: hidden;
        width: 30%;
        height: 2vh;
        margin: 20vh 10% 10%;
        justify-content: center;
        align-items: center;
        background-color: white;
        backdrop-filter: blur(5px);
    }

    .home-content p {
        font-size: 1.35rem;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

}

#about {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    background: url(https://images.unsplash.com/photo-1609139003551-ee40f5f73ec0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-color: white;
}

.abt-heading {
    width: 20%;
    height: 20vh;
    margin: 5vh auto 0;
    text-align: center;
}

.abt-heading h1 {
    color: #FF5E62;
    font-weight: 900;
}

.abt-us {
    font-size: 1.5rem;
    color: black;
    background-color: #E4E7EB;
    width: 40%;
    height: 60vh;
    margin: 2% 2% 0% 5%;
    text-align: left;
    font-weight: 600;
}

.payment {
    margin: 2% 2% 2% 70%;
}

@media screen and (max-width:769px) {
    #about {
        background-color: #10c7f5;
        background: none;
    }

    .abt-heading {
        background-color: #10c7f5;
        background: url(abt-back.svg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .abt-heading h1 {
        margin-top: 5%;
        font-weight: 900;
    }

    .abt-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .abt-us {
        width: 80%;
        font-size: 1rem;
        margin: 10vh 3% 0;
    }

    .payment {
        margin-left: 0;
    }
}

#developer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    background: url(DEVELOPER.svg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #E4E7EB;
}

.dev-heading {
    width: 20%;
    height: 20vh;
    margin: 5vh auto 0;
    text-align: center;
}

.dev-heading h1 {
    color: #FF5E62;
    font-weight: 900;
}

.dev-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.dev-card {
    margin-right: 40%;
    position: relative;
    width: 200px;
    height: 350px;
    border: 4px solid #343a40;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF9966, #FF5E62);
    background-size: 1000% 1000%;
    -webkit-animation: gradient-anim 5s ease infinite;
    -moz-animation: gradient-anim 5s ease infinite;
    -o-animation: gradient-anim 5s ease infinite;
    animation: gradient-anim 5s ease infinite;
}

.dev-card:hover {
    border: solid 4px #333;
    border-radius: 25px;
    background: linear-gradient(90deg, #FF9966, #FF5E62);
    background-clip: content-box, border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 30%;
    object-fit: cover;
    z-index: 2;
}

.card-bottom {
    position: relative;
    width: 208px;
    height: 300px;
    -webkit-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
    -O-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
    -moz-clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 100%, 0% 13%, 100% 0%, 100% 100%);
    transform: translateY(42px);
    -webkit-transform: translateY(42px);
    -moz-transform: translateY(42px);
    -o-transform: translateY(42px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: aliceblue;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-name {
    color: #343a40;
    width: 100%;
    text-align: left;
    align-self: flex-start;
    margin: 30% auto 0;
    padding-left: 3%;
    font-weight: 900;
}

.dev-name h3 {
    font-weight: 800;
}

.dev-title {
    color: #343a40;
    width: 100%;
    text-align: left;
    align-self: flex-start;
    margin: 5% auto 0;
    padding-left: 3%;
    font-size: 0.8rem;
    font-weight: 600;
}

.dev-media {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    padding: 0 20px;
}

.dev-media a {
    text-decoration: none;
    width: 100%;
    margin: 10% 3% auto 3%;
    cursor: pointer;
}

.social {
    max-width: 30px;
    height: 30px;
    fill: #013F59;
    display: inline-flex;
    white-space: nowrap;
}

#logo {
    fill: #343a40;
}

#logo:hover {
    fill: url(#paint0_linear);
}

.dev-btn {
    width: 100%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dev-btn button {
    width: 100px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: #E7EAEE;
    background: linear-gradient(45deg, #FF9966, #FF5E62);
    border-radius: 4px;
    cursor: pointer;
}

.dev-btn button:hover {
    /* border:4px solid #013F59; */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5)
}
#go {
    display: none;
    opacity: 0;
    z-index: -10;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #10c7f5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100000;
}


#plogo {
    width: 100px;
    height: 100px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
        stroke-width: 4;
        stroke: #E7EAEE;
    }

    to {
        stroke-dashoffset: 0;
        stroke-width: 4;
        stroke: #E7EAEE;
    }
}